@font-face {
  font-family: "emoji-ttf";
  src: url('font/TossFaceFontMac.ttf') format('truetype');
}
@font-face {
  font-family: "emoji-otf";
  src: url('font/TossFaceFontMac.otf') format('opentype');
}
img {
  height: 200px;
  width: auto;
  border-radius:.35rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.main {
  margin:10px 0 0 0;
  height: 200px;
  width: auto;
  border-radius:.35rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
:root {
    font-size:15px;
    font-family: 'Poppins', sans-serif;
    --backcolour:#1c0000;
    --mainbackcolour:#510000;
    --buttoncolour:#561919;
    --buttonhover:#160202;
    --buttonactive:#000;
    --sidebackcolour:#510000;
    --textcolour:#E6E6E6;
    --sidetextcolour:#E6E6E6;
    --sidesize:125px;
    --rightpad:5px;
    --leftpad:15px;
    --h1textsize:25px;
    --ptextsize:13px;
    --linespace:25px;
}
mark {
  background:#ff8282;font-weight: bold;
}
.normal {
  color:#160202;
  font-weight:bold;
  text-decoration: underline;
}
.normal-1 {
  color:var(--textcolour);
  font-weight:bold;
  font-size:20px;
  text-decoration: none;
}

.button, .button:visited {
  border-radius:.35rem;
  font-size:1rem;
  background-color:var(--buttoncolour);
  color: var(--sidetextcolour);
  width:150px;
  margin:5.5px;
  height:24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.button:hover{
  background-color:var(--buttonhover);
  color:var(--sidetextcolour);
}
.button:active{
  color:var(--sidetextcolour);
  background-color:var(--buttonactive);
}
.column {
  float: left;
  width: 50%;
}

.row:after {
  display: table;
  clear: both;
}
.topnav {
  border-top-right-radius:5px;
  border-top-left-radius:5px;
  padding: 5px 5px 5px 5px;
  background-color: var(--sidebackcolour);
  overflow: hidden;
}
.main {
  margin:20px 0 0 0;
  width:100%;
  height:100%;
  text-align: center;
  text-justify: inter-word;
  display: inline-block;
  border-radius:.35rem;
  background: var(--mainbackcolour);
}
h1 {
 font-family: 'Poppins', 'emoji', sans-serif;
 font-size: 1.75rem;
 vertical-align: middle;
}
h2 {
  font-family: 'Poppins', 'emoji', sans-serif;
  font-size: 1.50rem; 
}
h3 {
  font-family: 'Poppins', 'emoji', sans-serif;
  font-size: 1.10rem; 
}
p {
 font-family: 'Poppins', 'emoji', sans-serif;
 font-size: .90rem;
 vertical-align: middle;
}
body {
  background-color: var(--backcolour);
  color: var(--textcolour);
  margin:0 20% 0 20%;
  font-family: 'Poppins', 'emoji', sans-serif;
  font-size: var(--ptextsize);
  vertical-align: middle;
}
