body {
    background-color:#350000;
    color: rgb(255, 225, 225);
}
div.main {
    background-color:#750000;
}
h1,h2,h3 {
    font: "sf-mono-bold", serif;
}
h1 {
    font-size:20px;
}
h2 {
    font-size:17px;
}
h3 {
    font-size:15px;
}
